[defaults]
forks=5
host_key_checking=false
roles_path=./roles
inventory=./inventory
collections_path=./collections:/home/pmng/.ansible/collections:/usr/share/ansible/collections
remote_user=ansible
vault_identity_list=test@./vault/vault_pass.sh
callbacks_enabled=ansible.posix.timer,ansible.posix.profile_tasks,ansible.posix.profile_roles
[privilege_escalation]
become=false
become_method=sudo
[persistent_connection]
[connection]
[colors]
[selinux]
[diff]
[galaxy]
[inventory]
[netconf_connection]
[paramiko_connection]
[jinja2]
[tags]
